@model SettingsEditModel

<h2>AV100</h2>
<div class="row">
    <div class="form-group col-md-12">
        <label class="form-label" asp-for="@Model.Av100Token"></label>
        <input class="form-control" asp-for="@Model.Av100Token" />
        <span asp-validation-for="@Model.Av100Token" class="text-danger"></span>
    </div>
</div>

<h2>XLombard</h2>
<div class="row">
    <div class="form-group col-md-6">
        <label class="form-label" asp-for="@Model.XLombardAPIUrl"></label>
        <input class="form-control" asp-for="@Model.XLombardAPIUrl" />
        <span asp-validation-for="@Model.XLombardAPIUrl" class="text-danger"></span>
    </div>
    <div class="form-group col-md-6">
        <label class="form-label" asp-for="@Model.XLombardToken"></label>
        <input class="form-control" asp-for="@Model.XLombardToken" />
        <span asp-validation-for="@Model.XLombardToken" class="text-danger"></span>
    </div>

    <div class="form-group col-md-3">
        <label class="form-label" asp-for="@Model.XLombardFilialId"></label>
        <input class="form-control" asp-for="@Model.XLombardFilialId" />
        <span asp-validation-for="@Model.XLombardFilialId" class="text-danger"></span>
    </div>

    <div class="form-group col-md-3">
        <label class="form-label" asp-for="@Model.XLombardDealTypeId"></label>
        <input class="form-control" asp-for="@Model.XLombardDealTypeId" />
        <span asp-validation-for="@Model.XLombardDealTypeId" class="text-danger"></span>
    </div>

    <div class="form-group col-md-6">
        <label class="form-label" asp-for="@Model.XLombardSource"></label>
        <input class="form-control" asp-for="@Model.XLombardSource" />
        <span asp-validation-for="@Model.XLombardSource" class="text-danger"></span>
    </div>
</div>