@using XProxy.Domain;
@model ICollection<UserSettingsItem>
@{
    ViewData["Title"] = "Настройки подключений к сервисам";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead class=".thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">XL API key</th>
            <th scope="col">XL url</th>
            <th scope="col">AV100 API key</th>
            <th scope="col">Interval</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.Id</th>
                    <td>@item.XLombardToken</td>
                    <td>@item.XLombardAPIUrl</td>
                    <td>@item.Av100Token</td>
                    <td>@item.UpdateInterval</td>
                </tr>
            }
        }
    </tbody>
</table>


